<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3><b>Enter Listing Details</b></h3>
    <br />
    <form
      action="/listings"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="Listing[title]"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good.</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="Listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description required!</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="image" class="form-control" />
      </div>

      <!-- Price & Location -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="Listing[price]"
            placeholder="Enter price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Invalid price!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="Listing[location]"
            placeholder="Enter location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid location!</div>
        </div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="Listing[country]"
          placeholder="Enter country"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Not a valid country!</div>
      </div>

      <!-- Category -->
      <div class="mb-3">
        <label for="category">Type of listing:</label>
        <select name="Listing[category]" id="category" class="form-select">
          <option value="trending">Trending</option>
          <option value="room">Room</option>
          <option value="arctic">Arctic</option>
          <option value="castle">Castle</option>
          <option value="farm">Farm</option>
          <option value="pool">Pool</option>
          <option value="boat">Boat</option>
          <option value="beach">Beach</option>
          <option value="dome">Dome</option>
          <option value="camping">Camping</option>
          <option value="iconic-cities">Iconic cities</option>
          <option value="mountain">Mountains</option>
        </select>
      </div>

      <br />
      <button class="btn btn-dark add-btn">Add Listing</button>
      <a
        href="/listings"
        class="btn btn-secondary"
        style="background-color: #5a6268 !important; border: none"
      >
        Back to Listing
      </a>
    </form>
  </div>
</div>
