<% layout("/layouts/boilerplate") %>

<style>
  @media (max-width: 480px) {
    .col-6 {
      width: 100% !important;
      margin: 0 !important;
    }
    .btn {
      margin-left: 0 !important;
    }
    .para {
      margin-left: 0 !important;
    }
  }
</style>

<div class="row mt-3">
  <h1 class="col-6 offset-3 mt-3">Login to StayBnb</h1>
  <div class="col-6 offset-3 mt-2 mb-2">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Password required!</div>
      </div>
      <button class="btn btn-success" style="margin-left: 15rem">Login</button>
      <p class="para" style="margin-left: 11rem; margin-top: 0.5rem">
        Do not have account?<a
          href="/signup"
          style="text-decoration: none; color: #fe424d"
          ><b>&nbsp;Sign Up</b></a
        >
      </p>
    </form>
  </div>
</div>
